apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # wellknown
  - ../base/wellknown
  # Headless
  - ../base/headless
  - ./headless/sealed-secret.yaml
#   # Umami
#   - ../base/umami
  # Remark42
  - ../base/remark42
  - ./remark42/remark42-env.sealed-secret.yaml
  - ./remark42/apple-key.sealed-secret.yaml
  # Web
  - ../base/web
  - ./web/sealed-secret.yaml
  - ./web/http-routes.yaml
  # Status
  - ../base/status
  # GitOps
  - ../base/gitops
  - ./gitops/image-policies.yaml
  - ./gitops/fluxcd-signing-key.sealed-secret.yaml
  - ./gitops/slack-url.sealed-secret.yaml
patches:
  # Headless
  - path: ./headless/patch.config-map.yaml
    target:
      kind: ConfigMap
      name: headless-env
  - path: ./headless/patch.depl.yaml
    target:
      kind: Deployment
      name: headless
  - path: ./headless/patch.http-route.yaml
    target:
      kind: HTTPRoute
      name: headless-http
  - path: ./headless/patch.https-route.yaml
    target:
      kind: HTTPRoute
      name: headless-https
  # # Umami
  # - path: ./umami/http-route.yaml
  #   target:
  #     kind: HTTPRoute
  #     name: umami-http
  # - path: ./umami/https-route.yaml
  #   target:
  #     kind: HTTPRoute
  #     name: umami-https
  # Remark42
  - path: ./remark42/patch.http-route.yaml
    target:
      kind: HTTPRoute
      name: remark42-http
  - path: ./remark42/patch.https-route.yaml
    target:
      kind: HTTPRoute
      name: remark42-https
  - path: ./remark42/patch.depl.yaml
    target:
      kind: Deployment
      name: remark42
  - path: ./remark42/patch.config-map.yaml
    target:
      kind: ConfigMap
      name: remark42-env
  # Web
  - path: ./web/patch.http-route.yaml
    target:
      kind: HTTPRoute
      name: web-http
  - path: ./web/patch.https-route.yaml
    target:
      kind: HTTPRoute
      name: web-https
  - path: ./web/patch.depl.yaml
    target:
      kind: Deployment
      name: web
  - path: ./web/patch.config-map.yaml
    target:
      kind: ConfigMap
      name: web-env
  # GitOps
  - path: ./gitops/patch.alert.yaml
    target:
      kind: Alert
      name: slack
  - path: ./gitops/patch.image-update-automation.yaml
    target:
      kind: ImageUpdateAutomation
      name: harrytang